html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body{
background-image: url(../img/40789203.jpeg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: right bottom;
}

.contents-wrapper {
	width: 100%;
	margin-top: 30px;
}

.sub-pictures-wrapper {
	width: 15%;
	float: left;
	margin: 0;
	text-align: center;
}

.sub-pictures-wrapper li {
	width: 150px;
	height: 150px;
	margin: 0 auto 10px auto;
}

.sub-pictures-wrapper img {
	width: 80%;
	height: 148px;
	border: 1px solid black;
}

.main-picture-wrapper {
	width: 35%;
	float: left;
	margin: auto 0;
	text-align: center;
}

.main-picture-wrapper img {
	width: 80%;
	height: 468px;
	border: 1px solid black;
}

.message-wrapper {
	width: 50%;
	float: left;
}

.title {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	letter-spacing: 5px;
	font-weight: bold;
}

.detail {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 80%;
	margin: 0 auto;
	line-height: 20px;
}

.detail p {
	padding-top: 5px;
	margin-left: 10%;
	font-size: 16px;
}

.form-wrapper {
	width: 80%;
	margin: 0 auto;
	clear: both;
}

.select-wrapper {
	width: 30%;
	height: 30px;
	clear: both;
}

.select-wrapper h4 {
	margin-right: 5px;
	line-height: 30px;
	float: left;
}

.select-wrapper select {
	height: 30px;
	width: 30%;
}

.submit {
	margin: 20px auto;
	width: 40%;
	opacity: 0.7;
	font-weight: bold;
}

.submit:hover {
	opacity: 1.0;
}