.direction{
	text-align: center;
	margin: 20px auto;
}
.phase1{
	width: 80%;
	margin: 20px auto;
}
.phase2{
	width: 80%;
	margin: 20px auto;
}
.phase3{
	width: 80%;
	margin: 20px auto;
}