.panel{
	padding : 30px auto;
	margin : 30px auto;
	width : 50%;
}
.panel-heading{
	width : 80%;
	margin : 30px auto;

}
.txt{
	align : left;
}

.button,.panel-body{
text-align : center;
}