.form-wrapper{
	width:40%;
	margin:0 auto;
}
.form-wrapper button{
	width:30%;
	margin:0 auto;
}

.oauth-wrapper{
	width: 80%;
	margin: 30px auto;
}

.oauth-wrapper a{
	dispaly: block;
	float: left:
	width: 30%;
}

.error-message{
	text-align : center;
	color : red;
}