.error-message{
	
	width: 80%;
	margin: 20px auto;
	text-align: center;
}
.error-message h5{
	text-align: center;
	color: red;
}

h3{
	text-align: center
	color: red;
}

.cover {
	width: 700px;
	clear: both;
	text-align: center;
	margin: 20px auto;
}

.form-text {
	width: 45%;
	text-align: right;
	float: left;
}

.cover1 .wwgrp {
	width: 45%;
	text-align: left;
	display: inline-block;
}

.choose-credit {
	width: 45%;
	display: inline-block;
	text-align: left;
}

.choose-credit-text {
	text-align: right;
	float: left;
}

.choose-credit-select {
	text-align: left;
	width: 100px;
}

.card-number {
	float: left;
	margin-right: 5px;
}

.card-number-text {
	float: left;
	text-align: right;
	width: 45%;
}

.card-number-box {
	display: inline-block;
	margin: 0 auto;
	width: 45%;
}

.card-security-text {
	float: left;
	text-align: right;
	width: 45%;
}

.card-security-number {
	display: inline-block;
	margin: 0 auto;
	width: 45%;
}

.card-security {
	float: left;
}


.card-expiration-box{
	clear: both;
	height: 20px;
}

.card-expiration-year{
	margin-right: 1%;
	margin-left: 39%;
	width: 10%;
	float: left;
}
.card-expiration-month{
	margin-left: 1%;
	margin-right: 39%;
	width: 10%;
	float: left;
}

.submit{
	width: 20%;
	margin: 0 auto;
	background-color:wheat;
}



