@CHARSET "UTF-8";



/*背景に画像を反映させたいが、今は単色で設定しますorz*/

body {  background-color:#fff1e0;

	}

 h1 { color: #ff8096;
      text-align: center;
      font-size : 10px;

 }


image.item{ width: 180px;
height: 200px;}


 h2 { color: red;
      text-align: left;

  }

 .menu { font-size : 15px;
        color : #d86c6c;
        text-align: right;
	}