@CHARSET "UTF-8";


body { background: url("../img/back.png");
       background-repeat : repeat;

	}

 h1 {
      color: #ff8096;
      text-align: center;
      font-size : 15px;

 }


image.item{
	text-align: center;
	width: 180px;
	height: 200px;
	}


 h2 {
 	color: red;
    text-align: center;
  }

 .menu {
 		font-size : 15px;
        color : #d86c6c;
        text-align: right;
	}
	
	