@CHARSET "UTF-8";

body { background: url("../img/back.png");
       background-repeat : repeat;
	}

header {
	height: 180px;
	width: 100%;
}	
	
header h1 {
      color: #ff8096;
      text-align: center;
      font-size : 15px;
 }

.item{
	text-align: left;
	width: 10%;
	height: 100px;
	}

header h2 {
 	color: red;
    text-align: center;
  }

.menu {
 	font-size : 15px;
    color : #d86c6c;
    text-align: right;
  }
	
