@CHARSET "UTF-8";

.btn_a {
	width: 200px;
	height: 200px;
	font-size: 100%;
	border-radius: 50px;
	background: url("../img/isu.jpg") no-repeat;
	box-shadow:2px 2px 2px #555;
	trandsition: 

}
.btn_a:hover {
	background: url("../img/isu2.jpg") no-repeat;
	color: #FFF;
	border: 1px solid #FFF;
}

.btn_b {
	width: 200px;
	height: 200px;
	font-size: 100%;
	border-radius: 50px;
	background: url("../img/kaden.jpg") no-repeat;
	box-shadow:2px 2px 2px #555;

}
.btn_b:hover {
	background: url("../img/kaden2.jpg") no-repeat;
	color: #FFF;
	border: 1px solid #FFF;
}

.btn_c {
	width: 200px;
	height: 200px;
	font-size: 100%;
	border-radius: 50px;
	background: url("../img/sale2.jpg") no-repeat;
	porder-radius:100px;
	box-shadow:2px 2px 2px #555;

}
.btn_c:hover {
	background: url("../img/Dust box_main.jpg") no-repeat;
	color: #FFF;
	border: 1px solid #FFF;
}


/* トップ画面スライド */
.wrapper {
	width: 100%;
	height: 200px;
}

#slideshow {
  pointer-events: none;
  width: 800px;
  margin : 0px auto;
  padding : 0px;
}

#slideshow > li {
  padding : 0px;
  box-align: center;  
  width: 800px;
  list-style: none;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;

}


#slideshow > li.current {
  padding : 0px;
  opacity: 1;
}

.img{
  width: 800px;
  height: 400px;
}

